.detailed-consultation {
  display: flex;
  align-items: center;
  min-height: 580px;
  background-image: url(../images/detailed-consultation.png);
  background-position: center top;
  
  @media(max-width: 1300px) {
    background-position: -250px 0;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),
    url(../images/detailed-consultation.png);
  }

  &__separator {
    margin-top: 55px;

    @media(max-width: 991px) {
      display: none;
    }
  }

  .get-consultation {
    background-image: none;

    &__title {
      display: none;
    }
  }
}