<div class="detailed-consultation" id="consultation">
    <div class="container detailed-consultation__container">
        <div class="detailed-consultation__title like_h2">Мы готовы дать Вам подробную консультацию</div>
        <div class="detailed-consultation__subtitle">Поможем правильно подобрать путевку для Вашего ребенка под любой бюджет!</div>
        <img src="images/detailed-consultation_separator.png" alt="" class="detailed-consultation__separator">
        {{> get-consultation }}
    </div>
</div>