<div class="detailed-consultation base__wrapper" id="consultation">
    <div class="container base__container">
        <div class="base__title like_h2">Мы готовы дать Вам подробную консультацию</div>
        <div class="base__subtitle">Поможем правильно подобрать путевку для Вашего ребенка под любой бюджет!</div>
        <img src="images/detailed-consultation_separator.png" alt="" class="detailed-consultation__separator">
        {{> get-consultation }}
    </div>
</div>