<div class="main-banner">
<div class="container main-banner__container">
    <div class="row main-banner__info">
        <div class="col-xl-6">
            <h1 class="main-banner__title">Детский отдых</h1>
            <div class="main-banner__subtitle">Путевки в лучшие лагеря<br>по ценам ниже рынка на 20%</div>
            <ul class="main-banner__features">
                <li class="main-banner__feature">
                    <img src="images/main-banner_icon1.png" alt="" class="main-banner__feature-icon">
                    <div class="main-banner__feature-text">
                        <div class="main-banner__feature-title title1">Мы сотрудничаем только с лицензированными лагерями, прошедшими проверку контролирующими органами</div>
                        <div class="main-banner__feature-description">Наши дети в безопасности</div>
                    </div>
                </li>
                <li class="main-banner__feature main-banner__feature_center">
                    <img src="images/main-banner_icon2.png" alt="" class="main-banner__feature-icon">
                    <div class="main-banner__feature-text">
                        <div class="main-banner__feature-title">Путевки частично оплачиваются из бюджета</div>
                        <div class="main-banner__feature-description">Вся информация и документы в офисе</div>
                    </div>
                </li>
                <li class="main-banner__feature">
                    <img src="images/main-banner_icon3.png" alt="" class="main-banner__feature-icon">
                    <div class="main-banner__feature-text">
                        <div class="main-banner__feature-title title2">Профессиональные вожатые и педагоги с опытом работы в лагерях от 3 до 30 лет</div>
                        <div class="main-banner__feature-description">Во время отдыха педагоги всегда на связи</div>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

