.the-button {
  min-width: 170px;
  min-height: 45px;
  border-radius: 23px;
  background-color: #ffaf02;
  color: #ffffff;
  font-family: 'Circe', sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  transition: $delay;

  &:hover {
    background: darken(#ffaf02,5%);
  }

  &__icon{
    margin-right: 13px;
  }
}
