<div class="get-consultation">
    <div class="get-consultation__title">Получите полную информацию о путевке от наших специалистов</div>
    <div class="get-consultation__form-before">Для этого заполните форму ниже - мы перезвоним Вам за 60 секунд</div>
    <form action="" class="get-consultation__form" novalidate>
        <div class="get-consultation__field-wrapper">
            <input name="name" type="text" class="get-consultation__field" placeholder="Ваше имя" autocomplete="off">
            <div class="get-consultation__field-name"></div>
        </div>
        <div class="get-consultation__field-wrapper">
            <input name="phone" type="text" class="get-consultation__field" placeholder="Ваш телефон" autocomplete="off">
            <div class="get-consultation__field-phone"></div>
        </div>
        <button class="the-button get-consultation__form-submit">Получить консультацию</button>
    </form>
    <div class="get-consultation__form-after">
        <div class="get-consultation__comment">или перезвоните нам по телефону:</div>
        <div class="get-consultation__phone">
            <div class="get-consultation__phone-icon"></div>
            <div class="get-consultation__phone-number">+7 (8182) 20-80-10</div>
        </div>
    </div>
</div>