<div class="special-offer base__wrapper" id="special-offer">
    <div class="container base__container">
        <div class="base__title like_h2">Специальное предложение - успевайте забронировать!</div>
        <div class="base__subtitle">Путевка в детский оздоровительный лагерь "Лазуревый берег"
            на 18 дней всего <span class="base__subtitle_marked">за 25 800 рублей!</span></div>
        <div class="special-offer__slider">
            <div class="row justify-content-between">
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <img src="./images/specoffer1.png" alt="" class="special-offer__slider-image">
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <img src="./images/specoffer2.png" alt="" class="special-offer__slider-image">
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <img src="./images/specoffer3.png" alt="" class="special-offer__slider-image">
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <img src="./images/specoffer4.png" alt="" class="special-offer__slider-image">
                </div>
            </div>
        </div>
        <div class="special-offer__features">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="special-offer__feature">
                        <img src="./images/feature1.png" alt="" class="special-offer__feature-img">
                        <div class="special-offer__feature-title">Первая береговая линия
                            - 50 метров до моря</div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="special-offer__feature">
                        <img src="./images/feature2.png" alt="" class="special-offer__feature-img">
                        <div class="special-offer__feature-title">Размещение: все номера
                            трехместные</div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="special-offer__feature">
                        <img src="./images/feature3.png" alt="" class="special-offer__feature-img">
                        <div class="special-offer__feature-title">В номере все удобства,
                            есть лоджии</div>
                    </div>
                </div>
            </div>
        </div>

        {{> get-consultation }}
    </div>
</div>