@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe/Circe-Light.eot');
    src: local('Circe Light'), local('Circe-Light'),
        url('../fonts/circe/Circe-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circe/Circe-Light.woff2') format('woff2'),
        url('../fonts/circe/Circe-Light.woff') format('woff'),
        url('../fonts/circe/Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe/Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
        url('../fonts/circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circe/Circe-Regular.woff2') format('woff2'),
        url('../fonts/circe/Circe-Regular.woff') format('woff'),
        url('../fonts/circe/Circe-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe/Circe-Bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
        url('../fonts/circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circe/Circe-Bold.woff2') format('woff2'),
        url('../fonts/circe/Circe-Bold.woff') format('woff'),
        url('../fonts/circe/Circe-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

