<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Детский отдых с турагентством "7 континентов"</title>
    <meta name="description" content="Путевки в лучшие лагеря по ценам ние рынка на 20%">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script defer="defer" src="js/bundle.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{> body}}

</body>
</html>