<header class="main-header">
    <div class="container main-header__container">
        <div class="main-header__logo">
            <img src="images/logo.png" alt="" class="main-header__logo-icon">
            <div class="main-header__logo-slogan">Лучшие детские
                курорты и маршруты</div>
        </div>
        <div class="main-header__callback">
            <div class="main-header__callback-left">
                <div class="main-header__callback-title">Есть вопросы? - звоните</div>
                <div class="main-header__callback-phones">
                    <a class="main-header__callback-phone" href="+7 (8182) 20-80-10">+7 (8182) 20-80-10</a>
                    <a class="main-header__callback-phone" href="+7 (960) 002-80-10">+7 (960) 002-80-10</a>
                </div>
            </div>
            <button class="the-button main-header__callback-button">ОБРАТНЫЙ ЗВОНОК</button>
        </div>
        <div class="main-header__menu-toggle">
            {{> menu-toggle}}
        </div>
    </div>
</header>


